@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.separator {
  display: inline-block;
  padding-top: 1.2vh;
  height: 6vh;
  background-color: #005d92;
  text-align: center;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}

.body {
  overflow-y: hidden;
  display: flex;
  flex: 1;
  justify-content: space-around;
  height: 100vh;
  background-color: #f5f5f5;
}

.leftBody {
  flex: 1;
  text-align: left;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 2rem;
}

.leftBody h2 {
  padding-top: 10vh;
  margin-bottom: 0.2rem;
  font-size: 4rem;
  font-weight: 400;
  color: #005d92;
  padding-left: 18vh;
  padding-top: 5vh;
  font-family: "Noto Sans JP", sans-serif;
}

.leftBody p {
  font-size: 10px;
  color: black;
  margin-top: -20vh;
  margin-bottom: 0;
  padding-left: 18vh;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.leftBody a {
  padding: 8rem 0 0 18vh;
  margin-top: 100rem;
  font-size: 20px;
  color: rgb(0, 1, 49);
  margin-bottom: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}

.rightBody {
  flex: 1;
}

.rightBody img {
  padding-top: 5vh;
  width: 100%;
  padding-right: 0.5rem;
  height: auto;
}
@media (max-width: 1641px) {
  .rightBody img {
    padding-top: 18vh;
  }
}

@media (max-width: 1351px) {
  .rightBody img {
    padding-top: 20vh;
    width: 80%;
  }
  .leftBody h2 {
    padding-left: 14vh;
  }
  .leftBody p {
    padding-left: 14vh;
  }
  .leftBody a {
    padding-left: 14vh;
  }
}

@media (max-width: 1251px) {
  .separator {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 0px;
    display: inline-block;
    padding-top: 2.4vh;
    background-image: linear-gradient(to right, #f51e6a, #ff4b2b);
    height: 3rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Noto Sans JP", sans-serif;
    color: white;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    background-color: #f5f5f5;
  }

  .leftBody {
    flex: 1;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    padding-top: 0;
  }

  .rightBody {
    flex: 1;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
  }

  .rightBody img {
    align-content: space-around;
    width: 70%;
    padding: 2rem 0 0 0;
    height: auto;
  }

  .leftBody h2 {
    margin-bottom: 0rem;
    font-size: 3rem;
    font-weight: 400;
    color: #005d92;
    padding: 0 0 0 0;
    margin: 4rem auto 1rem auto;
    font-family: "Noto Sans JP", sans-serif;
  }

  .leftBody p {
    font-size: 30px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
  }
  .leftBody a {
    padding: 0 0 0 0;
    margin-top: 100rem;
    font-size: 20px;
    color: rgb(0, 1, 49);
    margin-bottom: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
  }
}

@media (max-width: 870px) {
  .separator {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 0px;
    display: inline-block;
    padding-top: 2.4vh;
    background-image: linear-gradient(to right, #f51e6a, #ff4b2b);
    height: 5vh;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Noto Sans JP", sans-serif;
    color: white;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: #f5f5f5;
  }

  .leftBody {
    flex: 1;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    padding-top: 0;
  }

  .rightBody {
    flex: 1;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
  }

  .rightBody img {
    align-content: space-around;
    width: 70%;
    padding: 0 0 0 0;
    height: auto;
  }

  .leftBody h2 {
    margin-bottom: 0rem;
    font-size: 3rem;
    font-weight: 400;
    color: #f51e6a;
    padding: 0 0 0 0;
    margin: 4rem auto 1rem auto;
    font-family: "Noto Sans JP", sans-serif;
  }

  .leftBody p {
    font-size: 30px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
  }
  .leftBody a {
    padding: 0 0 0 0;
    margin-top: 100rem;
    font-size: 20px;
    color: rgb(0, 1, 49);
    margin-bottom: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
  }
}
